<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div class="ui five column grid">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
        <div class="ui special cards">
            <div class="card">

                <div class="content">
                    <img id="cardFamilyImgId" class="ui avatar image" src=""> <span id="cardFamilyNameId"> </span>
                </div>
                <div class="image imageCard">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui primary button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <img id="cardImgId" class="ui centered tiny image" src="">
                    </div>
                </div>
                <div class="content">
                    <div class="ui form tiny">
                        <div class="field">
                            <label id="cardNameId"></label>
                            <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <i class="heart outline icon"></i><span id="cardHPId"></span>
                    <div class="right floated ">
                        <i class="lightning outline icon"></i>
                        <span id="cardEnergyId"></span>
                    </div>
                </div>
                <div class="content">
                            <span class="right floated">
                                <i class=" wizard icon"></i>
                                <span id="cardAttackId"></span>
                            </span>
                    <i class="protect icon"></i>
                    <span id="cardDefenceId"> </span>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="../static/lib/jquery-3.3.1.min.js"></script>
<script src="../static/lib/Semantic-UI-CSS-master/semantic.js"></script>
<script src="../static/js/searchCard.js"></script>
</body>
</html>